#map{width:480px;height:350px;margin-left:10px;margin-bottom:10px;margin-right:10px;
	border-style:solid; border-width:2px;border-color:navy;}

#map p {font-size: small;color:navy;padding-left:2px; padding-right:2px;}

h3{color:navy;}